@{
    ViewData["Title"] = "Question";
}

<a href="createquestion" class="btn btn-primary btn-icon-split">
    <span class="icon text-white-50">
        <i class="fas fa-question-circle"></i>
    </span>
    <span class="text">Questions for </span>
</a>
